:root {
  --branding-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --headind-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headind-font-family);
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.introduction {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
.introduction p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.introduction h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
  color: #272142;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}

@media (max-width: 800px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 1.2;
    margin-top: 20px;
  }
  h2 {
    font-size: 35px;
  }
  .introduction {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
